.form {
  display: flex;
  flex-direction: column;

  width: 500px;
  margin: 0 auto;

  border: 2px solid #000000;
  border-radius: 5px;
}

.labelForm {
  margin: 5px auto;
  color: #000000;
  font-weight: bold;
}

.inputForm {
  width: 300px;
  margin: 10px auto;
  padding: 7px;

  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #c1cdc1;
}

.btnForm {
  width: 150px;

  margin: 10px auto;
  padding: 5px;

  background-color: #c1cdc1;
  border-color: #000000;
  border-radius: 5px;

  color: #000000;
  transition: background-color 500ms;

  cursor: pointer;
}

.btnForm:hover {
  background-color: #634456;
  color: #fff;
}
